

@media (min-width: 320px) { 
   body {
      display: flex;
      align-items: center;
      text-align: center;
      font-family: 'Proxima Nova','Helvetica Neue';
   word-spacing: 4px;
}
 
}

@media (min-width:768px) {
   body {
      display: flex;
      align-items: center;
      text-align: center;
      font-family: 'Proxima Nova','Helvetica Neue';
   word-spacing: 4px;
}
    
}
@media (min-width:1025px) {
   body {
     
      font-family: 'Proxima Nova','Helvetica Neue';
   word-spacing: 3px;
}
    
}